p 以下为恩盖尼语的几段短篇对话及其汉语翻译：

dl.ordered
  each sentence in main
    dt(lang='enn-Latn')
      = sentence.ennq
      wbr
      = sentence.enna
    dd
      = sentence.cmnq
      br
      != sentence.cmna

section.assignments: ul
  li
    p 翻译成汉语：
      ul.ordered(lang='enn-Latn')
        each sentence in toCmn
          li
            = sentence.ennq
            wbr
            = sentence.enna

    p 
      | 这里还有恩盖尼语的一个答句，但相应的问句没有给出：
      i.ordered(lang='enn-Latn')
        | ozyi ânò wei ga ạmó gbunono edèì.
      | 翻译成汉语。如果译法不止一种，请全部写出，并解释你这样翻译的理由。

  li
    | 翻译成恩盖尼语：
    ul.ordered
      each sentence in toEnn
        li
          = sentence.cmnq
          br
          = sentence.cmna

  li
    | 假设你要编写一部恩盖尼词典，那么表示#[i.mention 小偷]和#[i.mention 姑娘]的词的基本形式分别是什么？
    | 解释你的答案。

section.note
  p 恩盖尼语属于贝努埃－刚果语系。在尼日利亚，大约两万人使用该语言。
  p
    | 一个词的首个元音下面的标记
    i(lang='enn-Latn') ◌̣
    | 表明该词的所有元音发音时舌位都要稍微降低。
    | 标记
    i(lang='enn-Latn') ◌́, ◌̀, ◌̂
    | 分别表示高、低、降调；如果以上标记均不出现，这个音节就发中调。
