doctype html
html
  head
    meta(charset='utf-8')
    title 孵떤줍
    link(rel='stylesheet', href='/public/css/problemdb.css')
    link(rel='stylesheet', href='/public/css/toc.css')
      
  body
    main
      header
        h1 孵떤줍
      != content
