title: 基奥瓦语
author: 阿列克赛·佩古谢夫
------
p 以下为一些基奥瓦语名词的单数，双数和复数形式及其汉语翻译。表中名词均有三种形式，但没有全部列出。

table
  thead: tr #[th 单数] #[th 双数] #[th 复数]
  tbody
    each tuple in main
      tr
        each field in ['single', 'dual', 'plural']
          if tuple[field] == null
            td(lang='kio-Latn') ?
          else if tuple[field] == 'n/a'
            td.not-applicable
          else
            td(lang='kio-Latn')
              = tuple[field]
        td= tuple.cmn

section.assignment
  p 在带问号的空格内填上词的相应形式。

section.note
  p 基奥瓦语属于基奥瓦－塔诺安语系。这是一种濒危语言，只有美国俄克拉荷马州的数百人仍在使用。
  p
    | 以上给出的基奥瓦语的词采用简化转写法。
    i(lang='kio-Latn') k’, t’, p’, kh, ph, th
    | 是辅音；
    i(lang='kio-Latn') ɔ
    | 是一个元音。

------
main as [signle, dual, plural] =
---
adɔ
a
a
树
---
matʰɔnsjan
matʰɔnsjan
matʰɔnsjadɔ
小女孩
---
k’ɔ
k’ɔ
k’ɔgɔ
刀
---
tʰot’olagɔ
tʰot’ola
tʰot’olagɔ
橙子
---
aufi
n/a
aufigɔ
鱼
---
pʰjaboadɔ
n/a
pʰjaboa
路灯
---
matʰɔn
n/a
matʰɔdɔ
姑娘
---
k’ɔnbohodɔ
n/a
k’ɔnbohon
帽子
---
t’ɔ
n/a
t’ɔgɔ
勺子
---
n/a
n/a
e
面包
---
alɔsɔhjegɔ
?
alɔsɔhjegɔ
李子
---
?
tsegun
tsegudɔ
狗
---
alɔguk’ogɔ
alɔguk’o
?
柠檬
---
?
k’apʰtʰɔ
k’apʰtʰɔgɔ
老汉
---
kʰɔdɔ
kʰɔ
?
毯子
---
k’ɔdɔ
?
k’ɔdɔ
西红柿
---
?
alɔ
?
苹果
---
?
pʰɔ
?
野牛
---
?
?
sadɔ
儿童
---
ɔlsun
?
?
梳子
---
?
pitso
?
叉子
---
?
tʰɔpʰpaa
?
椅子
---
