ul.phrases > li {
  display: inline;
}

ul.phrases {
  text-align: center;
}

ul.inline {
  display: inline;
}

ul.phrases > li:after {
  content: ", ";
}

ul.semicolon-split > li:after {
  content: "; "
}

ul.semicolon-split:lang(cmn-Hans-CN) > li:after {
  content: "；"
}

ul.phrases > li:last-of-type::after {
  content: "";
}

ul.full-stop-end > li:last-of-type::after {
  content: ".";
}

ul.full-stop-end:lang(cmn-Hans-CN) > li:last-of-type::after {
  content: "。";
}