main 
{ counter-reset: rosetta-stone-counter; }

ul.ordered {
  list-style-type: none;
}

dl.ordered > dt, ul.ordered > li, p.ordered {
  counter-increment: rosetta-stone-counter;
  position: relative;
}

dl.ordered > dt, dl.ordered > dd, ul.ordered > li, p.ordered
{ padding-left: 2rem; }


dl.ordered > dt:before,
ul.ordered > li:before,
p.ordered:before {
  content: counter(rosetta-stone-counter) ".";
  width: 1.5rem;
  text-align: right;
  font-family: "Frutiger Neue";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5rem;
}
