------
doctype html
html
  head
    title= title

  body(lang='cmn-Hans-CN')
    nav
      h1#band IOL.cn
      ul
        each link in topNavLinks
          li: a(href=link.url)= link.text

    != content

    footer
      p 保留所有权利

------
topNavLinks as [url, text] =
---
/
首页
---
/news
新闻
---
/problems
题库
---
/QA
讨论
---
/about
关于
