------
doctype html
html
  head
    title= title + ' | ' + queryGroupName()
    meta(charset='utf-8')
    meta(author=author)

  body
    nav
      h1.badge: a(href='/') IOL.cn
      ul.groups
        != generateGroup(problemID)
      ul.tags
        each tag in tags
          li: a(href='/problems/tags/' + tagToURL(tag)) tag

      ul.doc-type
        each pair in possibleDocumentType
          if (pair.type == documentType)
            li.active: a(href='#')= pair.cmn
          else
            li: a(href=pair.type)= pair.cmn

    main
      != content

------
possibleDocumentType as [type, cmn] =
---
problem
题目
---
solution
解答
---
discussion
讨论
---
