------
doctype html
html
  head
    meta(charset='utf-8')
    meta(author=author)
    title= title + ' | IOL 2014'

  body
    nav
      h1 IOL.cn
      .groups
      .tags
        p 标签：
        ul
    main
      != content

------
possibleDocumentType as [type, cmn] =
---
problem
题目
---
solution
解答
---
discussion
讨论
---
