layout: problem

------

header
  h1
  p.author
  p.translator

nav.problem-solution-discussion: ul
  li: a(href='problem' class='focus') 题目
  li: a(href='solution') 题解
  li: a(href='discussion') 讨论

!= content
