p 以下为一些用一种简化的罗马化方案书写的阿迪格语句子及其汉语翻译：

dl(class='ordered two-cols')
  each pair in data
    dt(lang='ady-Latn')
      = pair.ady
    dd
      = pair.cmn

section.assignments: ul
  li 请给出第 6、7 句更加精确的翻译。
  li
    | 翻译成汉语：
    ul.ordered
      li(lang='ady-Latn')= asg2[0].ady
      li(lang='ady-Latn')= asg2[1].ady

  li
    | 翻译成阿迪格语
    ul.ordered
      each pair in asg3
        li= pair.cmn

  li
    | 翻译成阿迪格语，写出所有译法：
    i.ordered(lang='ady-Latn')
      | 他把[这]桌子放在哪里？

section.note
  p
    | 阿迪格语是阿布哈兹-阿迪格（西北高加索语系的）语族。
    | 在阿迪格共和国（俄罗斯联邦），超过三十万人使用该语言。

  p
    i(lang='ady-Latn') ć, ć̣, ḳ, ʁ, ś, ṭ, χ, ʒ, ʔ
    | 是阿迪格语特有的辅音，
    i(lang='ady-Latn') ə
    | 和
    i(lang='ady-Latn') y
    | 是元音。
