html
  head
    title 阿迪格语 | IOL 2003
    link(rel='stylesheet' type='text/css' href='../public/IOL-Rosetta.css')
  body(lang='zh-Hans-CN')
    main(class='rosetta-stone')
      header
        h1 IOL 2003 个人赛 第四题 恩盖尼语
        p.author Yakov Testelets
        
      p 以下为一些用一种简化的罗马化方案书写的阿迪格语句子及其汉语翻译：

      dl.stone
        dt(lang='ady')
          | śanyćyr hakum deʁəuco.
        dd
          | 他把[这]水壶放在[这]炉子里面。

        dt(lang='ady')
          | syda laʁəm tyriʒərər?
        dd
          | 他把什么投在[这]碟子上面？

        dt(lang='ady')
          | aχśər pχwantym tyreʁafə.
        dd
          | 他把[这]钱落在[这]箱子上面。

        dt(lang='ady')
          | śywanyr ʔanym tyreʁəuco.
        dd
          | 他把[这]大锅放在[这]桌子上面。

        dt(lang='ady')
          | syda pχənṭəḳum ć̣iʁafərər?
        dd
          | 他把什么落在[这]凳子下面？

        dt(lang='ady')
          | laʁər tyda zyć̣iʁəucorər?
        dd
          | 他把[这]碟子放在哪里？

        dt(lang='ady')
          | laʁər tyda zytyriʒərər?
        dd
          | 他把[这]碟子投在哪里？

      ul.assignments
        li
          p 请给出第 6、7 句更加精确的翻译。

        li
          p 翻译成汉语：
          ul.stone
            li(lang='ady')
              | pχənṭəḳur hakum deʒə.
            li(lang='ady')
              | aχśər tyda zydiʁafərər?

        li
          p 翻译成阿迪格语
          ul.stone
            li 他把[这]碟子放在[这]水壶下面。
            li 他把什么投在[这]箱子下面？
            li 他把什么落在[这]大锅里面？

        li
          p 翻译成阿迪格语，写出所有译法：
          p.stone
            | 他把[这]桌子放在哪里？

      section.note
        p
          | 阿迪格语是阿布哈兹-阿迪格（西北高加索语系的）语族。
          | 在阿迪格共和国（俄罗斯联邦），超过三十万人使用该语言。

        p
          i(lang='ady') ć, ć̣, ḳ, ʁ, ś, ṭ, χ, ʒ, ʔ
          | 是阿迪格语特有的辅音，
          i(lang='ady') ə
          | 和
          i(lang='ady') y
          | 是元音。