p 曾几何时，在西夏帝国（「白高大国」）生活着两个兄弟和两个姐妹。他们每个人都有一个儿子和一个女儿。

p
  | 以下的西夏语陈述表明上图中各人之间的亲属关系。
  | 其中
  i(lang='txg-Latn') Lhie²nyn²
  | 是一个男子的名字。

ul(class="ordered two-cols", lang='txg-Latn')
  each relationship in main
    li= relationship

section.assignments: ul
  li 重建家族关系树形图。
  li 在最后一个句子中完成填空（正确的填法只有一种）。

section.note
  p 西夏语是一种藏缅语系的死语言，曾在西夏帝国（1038–1227，位于今华中地区）使用。
  p 
    | 对于该语言如何发音学者并未达成一致意见，因此以上语句是根据多种重建方案中的一种来转写的。
    | 其中，上标的数字表示该语言中的两种声调（1 = 平调, 2 = 升调）；
    | 特别要指出的是，意为#[i.mention 父亲]和#[i.mention 母亲]的词念第一种声调.
    i(lang='txg-Latn') ậ, ê, ẹ, ọ, y, ǝ
    | 是元音；
    i(lang='txg-Latn') ś, ź, ’
    | 是辅音。
